:root {
	--header-height: 45px;
}

[v-cloak] {
	display: none;
}

.u1-form fieldset > legend {
	background:#f4f4f4;
	color:inherit;
	border: var(--u1-border-width) solid hsl(0, 0%, 78.4%);
}

.u1-form fieldset {
	border: var(--u1-border-width) solid hsl(0, 0%, 78.4%);
	box-shadow: 0px 4px 10px -10px currentColor;
}

.tk-anm-rotate::before {
	transition: transform 0.2s ease-in-out;
}

.pre-line {
	white-space: pre-line;
}

router-link {
	/* These will be converted to links*/
	opacity: 0.5;
}
nav a,
nav a:link,
router-link {
	display: block;
	padding: 0.8rem 2.5rem;
	color: #fff;
	text-decoration: none;
	outline: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.home-nav {
	display: flex;
	flex-wrap: wrap;
	margin: 2rem;
	flex-flow: row wrap;
	gap: 0.2rem;
}

.home-nav a,
.home-nav a:link {
	background: rgba(0, 0, 0, 0.1);
	color: #000;
	border: none;
	flex: 1 1 auto;
	text-align: center;
}

.home-nav .nav-spacer {
	flex-grow: 1;
	width: 100%;
	height: 0;
}

nav a.out {
	background: none;
	border: none;
	opacity: 0.7;
}
nav a.out:hover {
	opacity: 1;
}

nav a:hover {
	background-color: #393f46;
}

nav a.router-link-active {
	/* This route is selected */
	background: #0001;
	background: #464c53;
	position: relative;
}

/* nav a.router-link-active::before {
	content: " ";
	height: 1em;
	width: 1em;
	background: #efefef;
	clip-path: polygon(100% 10%, 100% 100%, 0 50%);
	display: inline-block;
	pointer-events: none;
	position: absolute;
	right: -1px;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0.4;
} */

#app {
	display: grid;
	width: 100%;
	height: 100vh;
	grid-template:
		"nav main"
		/ max-content 1fr;
}

.nav-main {
	background-color: HSL(214, 9%, 20%);
	color: #fff;
	grid-area: nav;
	overflow-y: auto;
	height: 100%;
	min-width: 220px;
	transition: transform 0.3s ease-in-out;
	z-index: 100; /* For animation transform open on mobile...*/
}

.nav-main.nav-open {
	transform: translateX(0%);
}

.nav-spacer {
	height: 4rem;
}

main {
	background-color: #e1e1e1;
	grid-area: main;
	overflow: auto;
}

footer {
}

.logo {
	padding-left: 2.5rem;
	font-weight: bold;
	background: linear-gradient(70deg, #23282d 75%, HSL(212.7, 10.5%, 20.6%) 75%);
	color: #fff;
	height: var(--header-height);
	display: flex;
	place-items: center;
}

.logo-title {
	flex-grow: 1;
}

.logo-image {
	opacity: 0.7;
	font-size: 3rem;
	line-height: 1;
}
.logo-image::before {
	mask-image: url("../images/archetype-icon-white.svg");
	-webkit-mask-image: url("../images/archetype-icon-white.svg");
}

.main-content {
	min-height: calc(100vh - 100px);
	display: grid;
	grid-template:
		"head head" 1fr
		"nav nav" 1fr
		"main-left main-right" 1fr 1fr
		/ max-content max-content 1fr;
}
.component-main {
}

.component-toolbar {
	background: #efefef;
	padding: 0.4rem 0;
}

.component-body {
	padding: 0 2rem 5rem 2rem;
}
.component-header {
	padding: 0 2rem;
	font-weight: bold;
	background: #ccc;
	display: flex;
	place-items: center;
	height: var(--header-height);
	position: sticky;
	top: 0;
	z-index: 2;
	gap:1.2rem;
}

.component-header-title {
	flex-grow: 1;
}

.tk-radio-group {
	display: flex;
	flex-wrap: wrap;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 0.4rem;
	padding: 0.4rem;
}

.tk-radio-group label {
	margin: 0 0 0.2rem 0; /*In case of wrapping it looks good*/
	align-items: center;
	font-weight: normal;
	font-weight: normal;
	cursor: pointer;
	margin: 0;
	padding: 0.2rem 0.4rem;
	border-radius: 0.4rem;
}

.tk-radio-group label:hover {
	background: rgba(0, 0, 0, 0.2);
}

.tk-radio-group input[type="radio"] {
	margin-right: 0.4rem;
	cursor: pointer;
}

.u1-form fieldset label {
	border-bottom: 1px solid #efefef;
}

.tk-clickable-row {
	background: rgba(0, 0, 0, 0.1);
	cursor: pointer;
	border-radius: 0.5rem;
	padding: 0.4rem 1rem;
}

.tk-clickable-row:hover {
	background: rgba(0, 0, 0, 0.2);
}

.nav-mobile-button {
	width: 4rem;
	text-align: center;
	background: rgba(0, 0, 0, 0.2);
	height: 100%;
	z-index: 3;
}

.int-tile {
	background: hsla(0, 0%, 0%, 0.04);
	padding: 0.5rem 0.5rem 0.5rem 2rem;
	margin-bottom: 1rem;
	border-radius: 0.4rem;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.int-tile:hover {
	background: hsla(0, 0%, 0%, 0.08);
}

@media (max-width: 960px) {
	#app {
		grid-template: "nav main" / 0px 1fr;
	}
	.nav-main {
		transform: translateX(-100%);
	}
	.component-header {
		padding-left: 5rem;
	}

	.component-body {
		padding: 0;
	}

	.home-nav a,
	.home-nav a:link {
		width: 100%;
		text-align: left;
	}
}
