<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Ultra Vue 2 Demo</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<link rel="stylesheet" href="./ultra-css-1/styles/ultra-1-app-opinion.css" />
		<link rel="stylesheet" href="./ultra-css-1/styles/ultra-1-app-upload.css" />
		<link rel="stylesheet" href="./ultra-css-1/styles/ultra-1-app.css" />
		<link rel="stylesheet" href="./ultra-css-1/styles/ultra-1-form.css" />
		<link rel="stylesheet" href="./ultra-css-1/styles/ultra-1-grid-12.css" />
		<link rel="stylesheet" href="./ultra-css-1/styles/ultra-1-opinion.css" />
		<link rel="stylesheet" href="./ultra-css-1/styles/ultra-1-table.css" />
		<link rel="stylesheet" href="./ultra-css-1/styles/ultra-1-utils.css" />
		<link rel="stylesheet" href="./ultra-css-1/styles/ultra-1-vue.css" />
		<link rel="stylesheet" href="./ultra-css-1/styles/ultra-1-window.css" />
		<link rel="stylesheet" href="./ultra-css-1/styles/ultra-1.css" />

		<link href="./styles/styles.css" rel="stylesheet" />
	</head>
	<body>
		<section id="app">
			<div v-if="loading" class="u1-loading"></div>
			<nav v-cloak :class="'nav-main ' + (navShow ? 'nav-open':'')">
				<div @click="navHome()" :class="(navShow ? 'logo':'logo') + ' u1-pointer u1-hover-brighten u1-cols-2-max-1fr u1-align-center u1-mobile-cols'">
					<i class="u1-i-- logo-image"></i>
					<div class="logo-title"> Ultra Vue 2 Demo </div>
					<div class="nav-mobile-button u1-pointer u1-hover-box u1-mobile-only" @click.stop="closeNav()">
						<i class="u1-i-close"></i>
					</div>
				</div>
				<router-link @click.native="closeNav()" to="/form-builder">Form Builder</router-link>
				<router-link @click.native="closeNav()" to="/table">Table</router-link>
				<router-link @click.native="closeNav()" to="/auto-table">Auto-Table</router-link>
				<router-link @click.native="closeNav()" to="/misc">Misc</router-link>
				<router-link @click.native="closeNav()" to="/db-editor">Db Editor</router-link>
				<router-link @click.native="closeNav()" to="/should-be-missing">Missing Page</router-link>

				<div class="nav-spacer"></div>
				<router-link class="out" to="/logout">Logout <i class="u1-i-chevron u1-opacity-50"></i></router-link>
			</nav>
			<main v-cloak>
				<div class="main-content">
					<router-view v-slot="{ Component }">
						<transition mode="out-in" name="u1-fadefast">
							<component :is="Component" />
						</transition>
					</router-view>
				</div>
				<footer></footer>
				<ultra-confirm></ultra-confirm>
				<ultra-snackbar></ultra-snackbar>
			</main>
			<div v-cloak class="nav-mobile-button u1-pointer u1-hover-box" @click="toggleNav()" style="position: fixed; top: 0; left: 0; height: 4.5rem">
				<i class="u1-i-menu"></i>
			</div>
		</section>
		<script src="./app.js" type="module"></script>
	</body>
</html>
